{%extends 'ifastyle.html'%}

{% block mainBlock%}



  <div class="container">
    <h2 class="wow slideInLeft fontchange"> Welcome {{msg}}, This is your IFA Fact Finder portal.</h2>
      <br>
  <img class=" visible-md-3 col-md-3 img-responsive wow bounceInLeft" data-wow-duration="2.5s" src="/static/img/IFA.png">
<div class="col-md-9 wow bounceInRight jumbotron bg-img"  data-wow-duration="2.5s ">
      <h1>Use this to:</h1>
      <p>View your stats</p>
      <p>Search for clients</p>
      <p>print client detail acceptence form</p>
    </div>
  </div>

             {%endblock%}
