<!DOCTYPE HTML>
<head>
  <!-- linked stylesheet and script for sweet alerts -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.1.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.1.0/sweetalert2.js"></script>

<!-- linked stylesheet for bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- linked script for jquery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- linked script for wow.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<!-- linked script for bootsrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
<!-- linked local stylesheet -->
<link href="/static/css/style.css" rel="stylesheet">
<!-- linked stylesheet for animate.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
<!-- linked tab Icon -->
<link rel="shortcut icon" href="Website-Home.ico" />
</head>



         {% block mainBlock%} Page under construction. {%endblock%}



      <script>
                   new WOW().init();



                   </script>
